@using PazYSalvoAPP.Models;
@model IEnumerable<PazYSalvoAPP.WebApp.Models.ViewModels.FacturaViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    
}

<div class="container"
     id="facturaContainer"
     data-listarfacturas="@Url.Action("ListarFacturas", "Factura")"
     data-actualizarfacturas="@Url.Action("AgregarFacturas", "Factura")"
     data-editarfacturas="@Url.Action("EditarFacturas", "Factura")">

    <h2>Administrador de facturas</h2>
    <p class="descripcion">
        Este administrador nos permite visualizar y gestionar todo lo referente a las Facturas del negocio.
    </p>

    <div class="opciones-container">
        <a class="btn btn-primary btn-sm"id="btnVerFacturas">Ver Facturas</a>
        <a class="btn btn-success btn-sm visually-hidden" id="btnNuevaFactura">Nueva factura</a>
    </div>

    <div id="tblListaDeFacturas">

    </div>
</div>

@*MODAL*@
<div class="modal-container">
    <div class="modal" id="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tituloModal"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="AgregarFacturas" asp-controller="Factura" id="frmModalFactura">
                    <div class="modal-body">

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="Id" name="Id">
                        </div>

                        <div class="form-group">
                            <label for="Saldo">Saldo</label>
                            <input type="number" class="form-control" id="Saldo" name="Saldo" required>
                        </div>
                        <br />

                        <div class="form-group">
                            <label for="ClienteId">Cliente</label>
                            <select class="form-select" id="ClienteId" name="ClienteId">
                                <option value="">Selecciona un cliente</option>
                                @foreach (var cliente in ViewBag.Clientes as List<Cliente>)
                                {
                                    <option value="@cliente.Id">@cliente.Id</option>
                                }
                            </select>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="ServicioAdquiridoId">Servicio Adquirido</label>
                            
                            <select class="form-select" id="ServicioAdquiridoId" name="ServicioAdquiridoId" required>
                                <option value="">Selecciona un servicio</option>
                                @foreach (var servicio in ViewBag.servicios as List<Servicio>)
                                {
                                    <option value="@servicio.Id">@servicio.Nombre</option>
                                }
                            </select>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="MedioDePagoId">Medio de Pago</label>
                            
                            <select class="form-select" id="MedioDePagoId" name="MedioDePagoId" required>
                                <option value="">Selecciona un medio de pago</option>
                                @foreach (var medio in ViewBag.mediosDePago as List<MediosDePago>)
                                {
                                    <option value="@medio.Id">@medio.Nombre</option>
                                }
                            </select>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="EstadoId">Estado</label>
                            
                            <select class="form-select" id="EstadoId" name="EstadoId" required>
                                <option value="">Selecciona el estado</option>
                                @foreach (var estado in ViewBag.estados as List<Estado>)
                                {
                                    <option value="@estado.Id">@estado.Nombre</option>
                                }
                            </select>
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="btnActualizarFactura">Agregar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>
@*FIN MODAL*@

@*@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript" src="@Url.Content("../../wwwroot/js/Factura.js")"></script>
}*@


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#btnVerFacturas").click(async function () {
                const url = "@Url.Action("ListarFacturas", "Factura")";
                const response = await $.ajax({
                    url: url,
                    method: "GET",
                    dataType: "html"
                });

                $("#tblListaDeFacturas").html(response);
                $("#btnVerFacturas").hide();
                $("#btnNuevaFactura").removeClass("visually-hidden"); // visually-hidden
            });

            $("#btnNuevaFactura").click(function () {
                mostrarModal();
            });

            $("#btnActualizarFactura").click(async function () {
                const url = "@Url.Action("AgregarFacturas", "Factura")";
                const $formulario = $('#frmModalFactura'); // captura contenido form
                var factura = {
                    //id: $('#id').val(),
                    saldo: $formulario.find('#Saldo').val(),
                    clienteid: $formulario.find('#ClienteId').val(),
                    servicioadquiridoid: $formulario.find('#ServicioAdquiridoId').val(),
                    mediodepagoid: $formulario.find('#MedioDePagoId').val(),
                    estadoid: $formulario.find('#EstadoId').val()
                };
                //console.log(factura);
                const response = await $.ajax({
                    url: url,
                    method: "post",
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(factura), // Serializa a JSON
                    success: function () {
                        alert("Factura agregada con éxito");
                        $("#modal").modal("hide");
                    },
                    error: function (jqxhr, textstatus, errorthrown) {
                        
                        console.error("error adding invoice:", textstatus, errorthrown);
                            
                        alert("error! no se agregó factura");
                        $("#modal").modal("hide");
                    },
               });
                
            });         
            

        });

        function mostrarModal() {
            $("#tituloModal").text("Nueva Factura");
            $("#frmModalFactura").trigger("reset");
            $("#modal").modal("show");
        }

        
    </script>
}
